.collections-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 800px) {
  }
}

.search-field {
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-32.png');
  background-repeat: no-repeat;
  background-position: left-center;
  outline: 0;
  width: 250px;
  height: 80px;
  border-bottom: 1px solid #333;
}

::placeholder {
  color: black;
}

.line-below-search {
  background-color: #333;
  height: 2px;
  width: 70%;
  margin-bottom: 10px;
}
