.sign-in-and-sign-up {
  margin-bottom: 100px;
  width: 1050px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  @media screen and (max-width: 1170px) {
    flex-direction: column;
    width: unset;
    align-items: center;

    > *:first-child {
      margin-bottom: 70px;
    }
  }

  @media screen and (max-width: 800px) {
    margin-top: 70px;
  }
}
