.about-page {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;

  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }

  .title {
    margin: 25px 0;
    font-size: 40px;
  }

  .about {
    line-height: 1.85rem;
    font-size: 18px;
  }
}

.link {
  text-decoration: underline;

  &:hover {
    font-weight: bolder;
  }
}

.about-us {
  width: 65vw;
  line-height: 1.65rem;

  @media screen and (max-width: 800px) {
    width: 75vw;
    margin: auto;
    position: relative;
    left: 12.5px;
  }
}

.mobile-copyright-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  margin-top: 35px;
  height: 60px;
  position: relative;
  border-radius: 5px;

  .mobile-copyright {
    color: #f2f2f2;
    text-align: center;
    margin: 0;
    font-size: 1.35rem;
  }

  @media screen and (min-width: 851px) {
    display: none;
  }
}

.about-title {
  word-spacing: 0.4rem;
}
